$theme: (
    textCollor: #545454,
    darckText: #292929,
    waightText: #ffffff,
    laightDarck: #cdcdcd,
    laightSectionText: #4c4c4c,
    infoText: #b2b2b2,
    bgCards: #fafafa,

    cardShadow: 0px 2px 30.1px 4.9px rgba(13, 13, 13, 0.04),
    cardBg: #fafafa,

    sectionGray:  #f6f6f6,
    sectionWaight: #ffffff,
    sectionDarck: #000000,

    mainCollor: #f1cdb3,

    TimesNewRoman: "TimesNewRoman",

    ArialItalic: "ArialItalic",
    ArialNormal: "ArialNormal",

    GeorgiaItalic: "GeorgiaItalic",
    GeorgiaBold: "GeorgiaBold",
    Georgia: "Georgia",
    GeorgiaItalicBold: "GeorgiaItalicBold",

);


